
img {
    width: 100%;
  }
  
  /* Header */
  
  .logoheader {
    width: 10%;
  }
  
  .containerheader {
    display: flex;
    flex-direction: row;
  }
  
  .container__navbar {
    margin: auto;
    font-size: x-large;
    margin-top: 3%;
    margin-left: 25%;
    border: #79011b 2px solid;
    background-color: #79011b;
    border-radius: 8px;
  }
  
  .container__search {
    margin: auto;
  }
  
  .btn-outline-success {
    color: #79011b;
    border: #79011b 2px solid;
    font-weight: bold;
    font-size: x-large;
  }
  
  .btn-outline-success:hover {
    background-color: #ce028a;
  }
  
  .nav-link {
    color: white;
  }
  
  // CONTENT

  .container {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .card h2 {
    padding: 2%;
    font-weight: bold;
  }
 
  .card {
    text-align: center;
    background-color: #79011b;
    color: white;
    border-radius: 8px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
    padding: 1%;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .card p {
    text-align: left;
    padding-bottom: 1%;
  }

  .card button {
    background: none;
    border: none;
    width: 5%;
    z-index: 1;
  }

  .card button img {
    z-index: 200;
  }

  .card button:hover {
    background: none;
    border: none;
  }

  .card .list-episodes {
    border-bottom: 1px solid #c7032d;
  }

  .card .list-episodes:last-child {
    border-bottom: none;
  }