
img {
    width: 100%;
  }
  
  /* Header */
  
  .logoheader {
    width: 10%;
  }
  
  .containerheader {
    display: flex;
    flex-direction: row;
  }
  
  .container__navbar {
    margin: auto;
    font-size: x-large;
    margin-top: 3%;
    margin-left: 25%;
    border: #79011b 2px solid;
    background-color: #79011b;
    border-radius: 8px;
  }
  
  .container__search {
    margin: auto;
  }
  
  .btn-outline-success {
    color: #79011b;
    border: #79011b 2px solid;
    font-weight: bold;
    font-size: x-large;
  }
  
  .btn-outline-success:hover {
    background-color: rgb(172, 217, 238);
  
  }
  
  .nav-link {
    color: white;
  }
  
  .form-control {
    font-size: x-large;
  }
  
.container__shows {
    border: #79011b solid 2px;
    border-radius: 2%;
    padding: 5%;
    padding-bottom: 15%;
    background-color: #79011b;
    margin: 5%;
    color: white;
    height: 900px;
  
}

.container__image {
    padding-top: 5%;
    padding-bottom: 5%;
    height: 80%;
    width: 80%;
    margin-left: 10%;
}
h1 {
  text-align: center;
}

.voirplus {
  color: #eb6ac0;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  border: 1px solid #ce028a;
  border-radius: 8px;
  padding: 1%;
}

.voirplus:hover {
color: #ce028a;
}

.resum {
  margin-bottom: 3%;
}

.input_search {

  height: 4em;
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
  color: white;
  border: 6px solid #79011b;
  border-style: double;
  border-radius: 4em;
  background-color: #79011b;
  font-weight: bold;
}
