 
  <div class="container">
    <input type="text" class="input_search container-fluid" id="name" name="name" (keyup)="Title($event.target.value)" required
      placeholder="Search a serie by title">
    <div class="row">
      <div class="col-lg-6" *ngFor="let shows of arrayData">
        <div class="container__shows">
          <h1>{{shows.title}}</h1>
          <img class="container__image img-fluid" src="{{shows.images.show}}" />
          <p>Number of seasons: {{shows.seasons}}</p>
          <p>Number of episodes: {{shows.episodes}}</p>
          <p>{{shows.description.substr(0, 150)}}...</p>
          <a class="voirplus" href="infos/{{shows.id}}">See more</a>
        </div>
      </div>
    </div>
  </div>
  