<div class="container">
  <div class="row">
    <div class="card">
      <div class="summary">
        <ul>
          <li><a href="/informations">Personal informations</a></li>
          <hr>
          <li><a href="/friends">Members</a></li>
          <hr>
          <li><a href="/history">History</a></li>
          <hr>
          <li><a href="/mylist">Current series</a></li>
          <hr>
          <li><a href="/myfavoriteshows">Favorite shows</a></li>
          <hr>
          <li (click)="ngOnClick()">Sign out</li>
        </ul>
      </div>
    </div>
  </div>
</div>
